WebServices/Client/Service References/MenusServiceReference/GetMenus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.jokeny.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.jokeny.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.jokeny.cn/">
      <s:element name="GetTopMenuses">
        <s:complexType />
      </s:element>
      <s:element name="GetTopMenusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopMenusesResult" type="tns:ArrayOfMenus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMenus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Menus" nillable="true" type="tns:Menus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Menus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTopMenusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopMenuses" />
  </wsdl:message>
  <wsdl:message name="GetTopMenusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopMenusesResponse" />
  </wsdl:message>
  <wsdl:portType name="GetMenusSoap">
    <wsdl:operation name="GetTopMenuses">
      <wsdl:input message="tns:GetTopMenusesSoapIn" />
      <wsdl:output message="tns:GetTopMenusesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetMenusSoap" type="tns:GetMenusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTopMenuses">
      <soap:operation soapAction="http://www.jokeny.cn/GetTopMenuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetMenusSoap12" type="tns:GetMenusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTopMenuses">
      <soap12:operation soapAction="http://www.jokeny.cn/GetTopMenuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetMenus">
    <wsdl:port name="GetMenusSoap" binding="tns:GetMenusSoap">
      <soap:address location="http://localhost:42706/GetMenus.asmx" />
    </wsdl:port>
    <wsdl:port name="GetMenusSoap12" binding="tns:GetMenusSoap12">
      <soap12:address location="http://localhost:42706/GetMenus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>